page-list {
    .searchbar-md{
        @extend %box-shadow;
        padding: 0;
        .searchbar-input{
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2) !important;
            background-color: color($colors,secondary);
        }
    }
    ion-fab[bottom]{
        bottom: 60px;
    }
}
.sub-list{
    padding: 0 12px 8px 12px;
    display: inline-block;
}